.fullPageContainer {
  background-image: url("https://dti2gc0g5oj0i.cloudfront.net/s3/W1siZiIsIjIwMTYvMTEvMTEvMTYvMDYvMjgvODE3L0NsaWVudF9zZXJ2aWNlc19zaHV0dGVyc3RvY2tfMTU4NTIyMjc5LmpwZyJdXQ");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
}

/* Style inputs, select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.fullPageContainer input {
  height: 30px;
}

.fullPageContainer h1 {
  margin-bottom: 0;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px;
  display: inline-block;
}

/* Style the submit button */
.submitButton {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 12px;
}

.buttonContainer {
  width: 95%;
  padding: 10px;
}

.submitButton:disabled {
  background-color: #ccc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: default;
  float: right;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

/* Style the container */
.container {
  /* float: left; */
  margin-top: 20px;
  max-width: 60%;
  border-radius: 5px;
  background-color: rgba(168, 168, 168, 0.3);
  padding: 20px;
  /* opacity: 0.5; */
}

/* .container:hover {
  opacity: 9;
} */

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 74%;
  margin-top: 6px;
  padding-right: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .label {
    width: 100%;
    margin-top: 0;
  }
}
